<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Speaker</key>
		<string>Narrator</string>
		<key>Quote</key>
		<string>Theorizing that one could time travel within his own lifetime, Doctor Sam Beckett led an elite group of scientists into the desert to develop a top secret project, known as QUANTUM LEAP. Pressured to prove his theories or lose funding, Doctor Beckett, prematurely stepped into the Project Accelerator and vanished. He awoke to find himself in the past, suffering from partial amnesia and facing a mirror image that was not his own. Fortunately, contact with his own time was made through brainwave transmissions, with Al, the Project Observer, who appeared in the form of a hologram that only Doctor Beckett could see and hear. Trapped in the past, Doctor Beckett finds himself leaping from life to life, putting things right, that once went wrong and hoping each time, that his next leap will be the leap home.</string>
	</dict>
	<dict>
		<key>Speaker</key>
		<string>Sam</string>
		<key>Quote</key>
		<string>I can&apos;t have a life. All I do is live someone else&apos;s life. I right their wrongs, I fight their fights - geez, I feel like I&apos;m Don Quixote.</string>
	</dict>
</array>
</plist>
